In [121]:
import pandas as pd
df = pd.read_csv("Food_Time new.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Traffic_Level                9085 non-null   object
 1   ID                           10000 non-null  object
 2   Delivery_person_ID           10000 non-null  object
 3   weather_description          9995 non-null   object
 4   Type_of_order                10000 non-null  object
 5   Type_of_vehicle              10000 non-null  object
 6   Delivery_person_Age          10000 non-null  int64
 7   Delivery_person_Ratings      10000 non-null  float64
 8   Restaurant_latitude          10000 non-null  object
 9   Restaurant_longitude         10000 non-null  object
 10  Delivery_location_latitude   10000 non-null  object
 11  Delivery_location_longitude  10000 non-null  object
 12  temperature                  9995 non-null   float64
 13  humidity                     9995 non-null   float64
 14  precipitation                9995 non-null   float64
 15  Distance (km)                9080 non-null   float64
 16  TARGET                       9459 non-null   object
dtypes: float64(5), int64(1), object(11)
memory usage: 1.3+ MB

In [122]:
df.describe()

,Delivery_person_Age,Delivery_person_Ratings,temperature,humidity,precipitation,Distance (km)
count,10000.000000,10000.000000,9995.000000,9995.000000,9995.000000,9080.000000
mean,29.522000,4.629370,22.936907,66.164882,0.016233,14.292747
std,5.700348,0.322941,3.379448,15.602939,0.074911,8.376254
min,15.000000,1.000000,6.770000,27.000000,0.000000,1.550000
25%,25.000000,4.500000,20.140000,54.000000,0.000000,7.620000
50%,29.000000,4.700000,23.000000,67.000000,0.000000,13.400000
75%,34.000000,4.800000,25.980000,81.000000,0.000000,19.610000
max,50.000000,6.000000,29.050000,94.000000,1.460000,59.840000

In [123]:
df.nunique()

Traffic_Level                     5
ID                             9995
Delivery_person_ID             1285
weather_description              11
Type_of_order                     4
Type_of_vehicle                   4
Delivery_person_Age              22
Delivery_person_Ratings          28
Restaurant_latitude             485
Restaurant_longitude            427
Delivery_location_latitude     3445
Delivery_location_longitude    3445
temperature                    1069
humidity                         64
precipitation                    35
Distance (km)                  2343
TARGET                         3370
dtype: int64

In [124]:
df.isnull().sum()

Traffic_Level                  915
ID                               0
Delivery_person_ID               0
weather_description              5
Type_of_order                    0
Type_of_vehicle                  0
Delivery_person_Age              0
Delivery_person_Ratings          0
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
temperature                      5
humidity                         5
precipitation                    5
Distance (km)                  920
TARGET                         541
dtype: int64

In [125]:
df = df.dropna(subset=["weather_description"])

In [126]:
df.isnull().sum()

Traffic_Level                  915
ID                               0
Delivery_person_ID               0
weather_description              0
Type_of_order                    0
Type_of_vehicle                  0
Delivery_person_Age              0
Delivery_person_Ratings          0
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
temperature                      0
humidity                         0
precipitation                    0
Distance (km)                  920
TARGET                         536
dtype: int64

In [127]:
df_median = df["Distance (km)"].median()

In [128]:
df["Distance (km)"] = df["Distance (km)"].fillna(df_median)

In [129]:
df.isnull().sum()

Traffic_Level                  915
ID                               0
Delivery_person_ID               0
weather_description              0
Type_of_order                    0
Type_of_vehicle                  0
Delivery_person_Age              0
Delivery_person_Ratings          0
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
temperature                      0
humidity                         0
precipitation                    0
Distance (km)                    0
TARGET                         536
dtype: int64

In [130]:
df["Restaurant_longitude"] = (
    df["Restaurant_longitude"]
    .str.replace(".", "", regex=False)   # rimuove i punti
    .astype(int)                         # converte in intero
    / 1_000_000                          # converte in gradi decimali
)

df["Restaurant_latitude"] = (
    df["Restaurant_latitude"]
    .str.replace(".", "", regex=False)   # rimuove i punti
    .astype(int)                         # converte in intero
    / 1_000_000                          # converte in gradi decimali
)

df["Delivery_location_latitude"] = (
    df["Delivery_location_latitude"]
    .str.replace(".", "", regex=False)   # rimuove i punti
    .astype(int)                         # converte in intero
    / 1_000_000                          # converte in gradi decimali
)

df["Delivery_location_longitude"] = (
    df["Delivery_location_longitude"]
    .str.replace(".", "", regex=False)   # rimuove i punti
    .astype(int)                         # converte in intero
    / 1_000_000                          # converte in gradi decimali
)

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9995 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Traffic_Level                9080 non-null   object
 1   ID                           9995 non-null   object
 2   Delivery_person_ID           9995 non-null   object
 3   weather_description          9995 non-null   object
 4   Type_of_order                9995 non-null   object
 5   Type_of_vehicle              9995 non-null   object
 6   Delivery_person_Age          9995 non-null   int64
 7   Delivery_person_Ratings      9995 non-null   float64
 8   Restaurant_latitude          9995 non-null   float64
 9   Restaurant_longitude         9995 non-null   float64
 10  Delivery_location_latitude   9995 non-null   float64
 11  Delivery_location_longitude  9995 non-null   float64
 12  temperature                  9995 non-null   float64
 13  humidity                     9995 non-null   float64
 14  precipitation                9995 non-null   float64
 15  Distance (km)                9995 non-null   float64
 16  TARGET                       9459 non-null   object
dtypes: float64(9), int64(1), object(7)
memory usage: 1.4+ MB

In [132]:
df["Delivery_location_latitude"].info()
df["Delivery_location_longitude"].info()

<class 'pandas.core.series.Series'>
Index: 9995 entries, 0 to 9999
Series name: Delivery_location_latitude
Non-Null Count  Dtype
--------------  -----
9995 non-null   float64
dtypes: float64(1)
memory usage: 156.2 KB
<class 'pandas.core.series.Series'>
Index: 9995 entries, 0 to 9999
Series name: Delivery_location_longitude
Non-Null Count  Dtype
--------------  -----
9995 non-null   float64
dtypes: float64(1)
memory usage: 156.2 KB

In [134]:
df = df.drop(columns=["ID"])